
body {background-color: #325C74; color:  #f7dc6f  ; font-family: Arial, Helvetica, sans-serif;}
form {border: 2px solid   #283747 ;}

input[type=text], input[type=password] {
  background-color: #d6eaf8;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 50px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {

  text-align: center;   
  padding: 10px 18px;
  background-color: #f44336;

}

.imgcontainer {
  text-align: center ;
  padding: 0px 100px;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 13%;
  height: 150px;
  border-radius: 20%;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
}
.container {
  text-align: center;   
  padding: 16px;
}

.center {
  text-align: center;
 //border: 3px solid green;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.close{
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
}

.close:hover,.close:focus{
  color: red;
  cursor: pointer;
}

animate{
  animation: zoom 0.6s;
}

@keyframes zoom{
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left; 0;
  top: 0;
  width: 100;
  height: 100;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
  background-color: #fefefe;
  margin: 4% auto 15% auto;
  border: 1px, solid #888;
  width: 40%;
  padding-bottom: 30px;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 100px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
    text-align: center; 
     width: 100%;

  }
}
